* {
    font-family: Arial, Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }
  
body {
    display: flex;
    justify-content: center;
}

  main {
    /*width: 400px;
    margin: 0 auto;*/
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  section {
    width: 185px;
    margin: 0 auto;
  }
  
  .form__h3-sign {
    margin: 10px 0 0 0;
    font-weight: 300;
    font-size: 15px;
  }
  
  form {
    border: 2px solid black;
    width: 320px;
    height: 200px;
    margin: 15px auto;
    /*text-align: center;*/
  }
  
  .form__input-mail, .form__input-password {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 5px 0 5px 5px;
    width: 180px;
  }
  
  #one {
    border: 2px solid #000000;
    background: gray;
    position: relative;
    width: initial;
  }
  
  .form__text-remember {
    margin: 0 10px 0 10px;
    font-size: 11px;
    /* height: 15px; */
    /* display: inline-block; */
    position: relative;
    bottom: 2px;
  }
  
  .form__button-sign {
    width: 188px;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 25px;
    background-color: lightgray;
    font-weight: 600;
  }
  
  .form__link-register {
    text-align: right;
    display: block;
    font-size: 13px;
  }
  
  .form__img-close {
    border: solid 2px;
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 175px;
    left: 303px;
    /*display: block;*/
  }
  