* {
    margin: 0;
    padding: 0;
    font-family: Arial, Roboto, sans-serif;
  }
  
  html {
    height: 100%;
  }
  
  body {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header-content,
  .container,
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 5px 0 15px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: relative;
  }
  
  .header-content-left {
    align-self: center;
    display: flex;
  }
  
  .header-content-left__logo {
    display: flex;
  }
  
  .header-content-left__logo {
    border: 2px solid #000;
    border-radius: 10px;
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .header-content-right-search__img {
    width: 22px;
    height: 17px;
    position: relative;
    margin: 6px 0 0 2px;
    left: 30px;
  }
  
  .header-right-basket img,
  .header-right-login img {
    width: 45px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 7px;
    margin: 10px 10px;
  }
  
  .header-content-left,
  .header-content-right-search {
    align-self: center;
    display: flex;
  }
  
  .header-content-right {
    justify-content: space-around;
    display: flex;
  }
  
  .header-content-right__input {
    border: 2px solid #000;
    border-radius: 15px;
    height: 15px;
    padding: 3px 5px 3px 35px;
    width: 185px;
    height: 20px;
    margin-right: 30px;
    align-items: center;
  }
  
  .header-content-right__input::placeholder {
    color: #000;
  }
  
  .header-right-icon {
    display: flex;
  }
  
  header {
    border-bottom: 2px solid;
    height: 60px;
    flex: 0 0 auto;
  }
  
  main {
      flex: 1 0 auto;
      /* height: 100%; */
  }
  
  .main-order-form,
  .main-order-form-code {
    border: 2px solid #000;
    height: 180px;
    width: 400px;
  }

  .main-order-form-year {
    margin: 20px 0 15px 0;
}
  
.main-order-form-mm {
    width: 13%;
}

.main-oreder-form-yyyy {
    width: 16%;
}

  .main-order-form__input-numbers {
    border: 2px solid #000;
    height: 20px;
    padding-left: 3px;
    width: 80px;
  }

  .input-form {
    border: 2px solid #000;
    height: 20px;
    padding-left: 3px;
  }
  
  .main-order-form-card__number-input {
    width: 95%;
    text-align: left;
    word-spacing: 55px;
    padding-left: 10px;
  }
  
  /*input[placeholder="YYYY"] {
    width: 16%;
  }*/
  
  .main-order-form {
    /* margin-top: 60px; */
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .main-order-form-code {
    position: absolute;
    margin: 0 0 50px 290px;
    object-fit: cover;
  }
  
  .main-order-form-numbers {
    display: flex;
    justify-content: right;
    height: 100%;
    align-items: center;
    margin: -41px 15px 0 0;
    position: relative;
  }
  
  .main-order-form__button-finish {
    position: absolute;
    margin-top: 270px;
  }
  
  button {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px;
    width: 160px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  footer {
    border-top: 2px solid #000;
    position: relative;
    flex: 0 0 auto;
  }
  
  .footer-container {
    justify-content: center;
    height: 3em;
    align-items: center;
  }
  
  .footer-container__text {
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    align-items: center;
    padding: inherit;
  }
  